ul {
	background-color: white;
	width: 24%;
	display: inline-grid;
	height: 100%;
	border: 1px solid #e3e4e5;
	border-top-left-radius: 5px;
 	border-bottom-left-radius: 5px;
 	border-top-right-radius: 5px;
 	border-bottom-left-radius: 5px;
 }

.lists {
	width: 100%;
}

#sortable1, #sortable2, #sortable3, #sortable4, #rows {
	overflow: visible;
}

table {
	float: left;
}

li {
	cursor: pointer;
	word-wrap: break-word;
}

.button {
}

.ui-state-disabled {
	cursor: default;
	font-weight: bold;
	text-align: center;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}