{% extends 'list/base.html' %}

{% block content %}
    <div class="lists">
      <div class="row rows ui-state-default" id="rows">
      {% if row %}
        {% for r in row %}
          <ul id="sortable1" class="connectedSortable">
           	<li class="ui-state-default ui-state-disabled"><h5>{{ r.name }}</h5></li>
          </ul>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <div class="add-remove">
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="todo" type="text">
          <label for="todo">Digite um afazer</label>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn col s3 offset-s3" id="btn1">Cadastrar afazer</a>
        <a class="waves-effect waves-light btn col s3" id="btn2">Limpar done</a>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="newrow" type="text">
          <label for="newrow">Insira o nome da nova coluna</label>
        </div>
      </div>
      <div class="row">
          <a class="waves-effec waves-light btn col s6 offset-s3" id="btn3">Cadastrar coluna</a>
      </div>
    </div>
{% endblock %}