{% extends 'list/base.html' %}

{% block content %}
    <div class="lists">
      <div class="row rows ui-state-default" id="rows">
      {% if containers %}
        {% for container in containers %}
          <ul id="sortable1" class="connectedSortable">
           	<li class="ui-state-default ui-state-disabled collection-header"><h5>{{ container.row.name }}</h5></li>
            {% if container.items %}
              {% for item in container.items %}
                <li class="item"><div class="collection-item">{{ item.text }}</div><i class="material-icons remove">remove_circle_outline</i></li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <div class="add-remove">
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="todo" type="text">
          <label for="todo">Digite um afazer</label>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn col s6 offset-s3 btn1">Cadastrar afazer</a>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input id="newrow" type="text">
            <label for="newrow">Insira o nome da nova coluna</label>
          </div>
        </div>
        <div class="row">
            <button type="button" class="waves-effec waves-light btn col s6 offset-s3" id="btn3">Cadastrar coluna</button>
        </div>
      </form>
    </div>
{% endblock %}