{% extends 'list/base.html' %}

{% block content %}
    <div class="lists">
      <div class="row">
        <ul id="sortable1" class="connectedSortable collection col s3">
        	<li class="ui-state-default ui-state-disabled collection-item">TO DO</li>
          	<li class="ui-state-default ui-state-disabled collection-item"></li>
          	{% if todo %}
          		{% for item in todo %}
          			<li class="collection-item">{{ item.todo_text }}</li>
          		{% endfor %}
          	{% endif %}
        </ul>

        <ul id="sortable2" class="connectedSortable collection col s3">
        	<li class="ui-state-default ui-state-disabled collection-item">DOING</li>
          	<li class="ui-state-default ui-state-disabled collection-item"></li>
          	{% if doing %}
          		{% for item in doing %}
          			<li class="collection-item">{{ item.doing_text }}</li>
          		{% endfor %}
          	{% endif %}
        </ul>

        <ul id="sortable3" class="connectedSortable collection col s3">
        	<li class="ui-state-default ui-state-disabled collection-item">TEST</li>
          <li class="ui-state-default ui-state-disabled collection-item"></li>
            {% if test %}
              {% for item in test %}
                <li class="collection-item">{{ item.test_text }}</li>
              {% endfor %}
            {% endif %}
        </ul>

        <ul id="sortable4" class="connectedSortable collection col s3">
        	<li class="ui-state-default ui-state-disabled collection-item">DONE</li>
          <li class="ui-state-default ui-state-disabled collection-item"></li>
            {% if done %}
              {% for item in list.doing_set.all() %}
                <li class="collection-item">{{ item.doing_text }}</li>
              {% endfor %}
            {% endif %}
        </ul>
      </div>
    </div>
{% endblock %}