{% extends 'list/base.html' %}

{% block content %}
	<h2 class="header">Cadastrar</h2>
		{% if error_message %}
			<div class="row">
				<div class="col s6 offset-s3"><strong>{{ error_message }}</strong></div>
			</div>
		{% endif %}
		<form action="{% url 'list:signup' %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="input-field col s6 offset-s3">
					<input id="user" name="username" type="text">
					<label for="user">Escolha um usuário</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3 offset-s3">
					<input id="password" name="password" type="password" class="validate">
					<label for="password">Senha</label>
				</div>
				<div class="input-field col s3">
					<input id="password_confirm" name="password_confirm" type="password" class="validate">
					<label for="password_confirm">Confirmar senha</label>
				</div>
			</div>
			<div class="row">
				<button class="btn waves-effect waves-light col s6 offset-s3" name="action" type="submit">Registrar
			    <i class="material-icons right">send</i>
			    </button>
	    	</div>
		</form>
{% endblock %}